@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.body{
  background-color:#add8e69a;
  font-family: 'Poppins', sans-serif;

  
}

@media only screen and (min-width:688px) and (max-width:992px){
  .body {
      background-color: #add8e69a;
      font-family: 'Poppins', sans-serif;
  
    }
    

}


